.success {
    color: lawngreen;
}

.fail {
    color: orangered;
}

.hidden {
    display: none;
}

#mainNavbar {
    background-color: deepskyblue;
    color: white;
    font-weight: 700;
}

#mainNavbar .nav-link:hover {
    color: #d8315b;
    font-weight: 800;
    transition: all 500ms;

}

#mainNavbar .navbar-brand {
    color: #d8315b;
    font-size: 2rem;
    font-weight: 750;
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: #1e1b18;
    padding-top: 90px;
}



.padding_left {
    padding-left: 10px;
}

.nav-item {
    border-left: solid #9cd6e5;
    border-width: thin;
    /*border-left: 1px solid #d96f85;*/
}

.nav-item:first-child {
    border-left: none;
}

img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 10%;
    padding-left: 30px;
    padding-right: 30px;
}



.content {
    margin-top: 100px;
    margin-bottom: 100px;
}






@media (max-width: 1240px) {
    .disappear {
        display: none !important;
    }
}

@media (max-width: 1240px) {
    #loginDisplay {
        display: none; !important;
    }
}

@media (max-width: 630px) {
    .disappear630 {
        /*display: none; !important;*/
    }
}





